node_modules/
.expo/
dist/
build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
.env.local
*.db
android/build/
android/.gradle/
ios/Pods/
ios/Podfile.lock
.DS_Store
*.xcworkspace
.cache
.metro-bundler-cache
.react-native-version
tmp/
temp/
*.log
.idea/
.vscode/settings.json
